<a href="https://colab.research.google.com/github/bevian/analise_dados_pandas/blob/main/DataAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalação

In [2]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.17.3)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from polars) (4.5.0)

In [3]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',100)

Manipulação do arquivo

In [6]:
df = pd.read_csv('dados_enem_2021_BA.csv')

In [ ]:
#mostra 5 primeiras linhas
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
3,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0
4,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0

In [ ]:
#mostra as ultimas 5 linhas
df.tail()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
20051,210054455085,2021,4,F,1,3,1,2,0,2,1.0,0,2932408.0,Uibaí,29.0,BA,2.0,1.0,1.0,2932408,Uibaí,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,397.2,418.1,466.8,484.8,ECDEEBECCDEDEEEADAEAEBADDDDCADDCBDBEAEBCDDDBD,DAAEEDECEAEDEBCADCBDAEBAACCEBAEECADEDAACECECE,99999DEADEEEEBEEDDADEEEBDBDEEACEADDDEAAEDCCBCC...,CCCDADAABDDADECAAECAEEEEACAAADDEAACCDBCAEBCED,1,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,120.0,120.0,120.0,120.0,120.0,600.0
20052,210051209340,2021,3,M,1,2,1,2,0,2,1.0,0,2910800.0,Feira de Santana,29.0,BA,2.0,1.0,1.0,2910800,Feira de Santana,29,BA,0,1,1,0,NaN,881.0,892.0,NaN,NaN,367.0,404.7,NaN,NaN,EDCBABEDECDACEEBBCBEABBDEBAECBEDBAABCDDEBAECE,DECEE99999AABBCDDEADDCCABBCDEEDBAABDABBAEDACBA...,NaN,0,NaN,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,NaN,1.0,80.0,120.0,100.0,120.0,0.0,420.0
20053,210051477118,2021,2,M,1,3,1,2,0,3,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2914604,Irecê,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,552.3,629.7,574.4,648.5,EBCBDBAEEABCEBDDDAEACABBBBAAACBDECACADABBEEBE,DBBAABDCBBABEBCDAEEAAEBCACAEABBCDEBBDAADCBADC,ABBCB99999BCAABDBAACABEEDADDABEADEBACAACCADDDA...,BCCCCABBBADCDBCDBDCDEEECACEADECCBDDCBDBBDDCDB,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,40.0,40.0,120.0,40.0,360.0
20054,210051051633,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2918001,Jequié,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,527.6,615.0,571.3,562.0,ABCACBBACEBBBBDBABBDAECDDABADCDBECEBDCCBBBBCE,BAECBABBDECDEBEAEBEABEECCAEAACCAAAEBBBABDDDDB,CAABC99999BDECEADEECAABBDEBBCACEBCCACDAABAAAEB...,DBCDCCCCDCCDCBBBECBAACDCBCEDBBBBAADCADEBBBADA,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,140.0,200.0,140.0,160.0,160.0,800.0
20055,210052601908,2021,6,F,1,3,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,499.9,566.3,451.7,627.4,EEDACCDAABCEECADCEBCAEDABCBDBBECDADECBBDADABE,ECA*CBCEEADBCAECABEADDEBAECAACEAACEEBBECCACDA,99999EADDAEDABEDBADCECBCCDBEADBDCCABEBAACEBECA...,AEDEAABDBEDCCAECEDBECEDAAEBBACBBEDADCBEABDCAD,1,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

*Os dados batem com o dicionário de dados*

**Levantamento de hipóteses: **


1.   Os alunos vão melhor dependendo da região?
2.   A idade intefere na nota?

In [ ]:
df.head(n=100)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
3,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0
4,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,210051133009,2021,3,F,1,1,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903904,Bom Jesus da Lapa,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,529.7,628.0,561.9,656.9,AABCCCCDACCBCBACEBEABDCEDAEBCBCEEEAADBCEEBECE,EEECCADBCADDEBBADBCABCEECAECAEBAAACACDABAEECB,99999DEEAABDEDEBDEBCBDBAEADBEEAECCDADCBDDAABBB...,DDCDDDDEDDBBBCBCDDAABCDDAECEBBDACDBDECEBADBEA,1,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,140.0,120.0,120.0,160.0,80.0,620.0
96,210054025866,2021,6,F,1,1,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,210053352595,2021,2,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,2.0,1.0,1.0,2927408,Salvador,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,505.2,588.9,537.8,565.5,CAEECDDECDCDCBECABCACBCCBAECDECBEECDDBBBBEAAD,AADCDAABCBCAABBAEDEABBBCCAEABDAEAEDABADBBABCB,E*.AC99999BDCDEADEBDBADAEDBCEECCACCACBACDABAAE...,BBDCACDECCBCAABCADABDACDAEDBDEDAACDCCAEAADEEE,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,160.0,200.0,140.0,200.0,200.0,900.0
98,210051020249,2021,4,M,1,3,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2923605,Paramirim,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,527.0,521.5,496.7,610.3,ECACBCDBCABCEEDCDEDBBDEABCAEDBADCDAAACDCBECBA,DBEBADDACBABAABCAABAECAEACCCBBAEBEDADADBBEEAC,AACEE99999CAAAABCECDBAEABABDABEACEDEDDDCABDBAA...,AAABAABADCECDBCBCDBAEAEAADCDEDDDEBAACDBCBDADA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,140.0,180.0,120.0,180.0,180.0,800.0
99,210053374930,2021,3,M,1,3,1,2,0,2,1.0,0,2923704.0,Paratinga,29.0,BA,3.0,2.0,1.0,2923704,Paratinga,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,410.0,536.4,462.3,472.4,BBDAAAEECADDAACACBEEAECEEBBDEDDADAACDBACDCDBA,BBACCAACBACBDDDAAACAEBEDBBCABEABADBDCBAABDEBD,99999ADCBAEDAABAEDABAEAAAECAAAEBAEDDEBEEDCDDAA...,EACEBCABBCDAAEEAECCACAACACBCAADEEEAABDADDDBBA,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,100.0,120.0,120.0,100.0,560.0

In [ ]:
##Quantidade de linhas e coluna
df.shape

(20056, 51)

In [ ]:
##Sumário do frame (quantos tem q são nulos, quantos estão preenchidos etc)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20056 entries, 0 to 20055
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            20056 non-null  int64
 1   NU_ANO                  20056 non-null  int64
 2   TP_FAIXA_ETARIA         20056 non-null  int64
 3   TP_SEXO                 20056 non-null  object
 4   TP_ESTADO_CIVIL         20056 non-null  int64
 5   TP_COR_RACA             20056 non-null  int64
 6   TP_NACIONALIDADE        20056 non-null  int64
 7   TP_ST_CONCLUSAO         20056 non-null  int64
 8   TP_ANO_CONCLUIU         20056 non-null  int64
 9   TP_ESCOLA               20056 non-null  int64
 10  TP_ENSINO               8789 non-null   float64
 11  IN_TREINEIRO            20056 non-null  int64
 12  CO_MUNICIPIO_ESC        3941 non-null   float64
 13  NO_MUNICIPIO_ESC        3941 non-null   object
 14  CO_UF_ESC               3941 non-null   float64
 15  SG_UF_ESC               3941 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  3941 non-null   float64
 17  TP_LOCALIZACAO_ESC      3941 non-null   float64
 18  TP_SIT_FUNC_ESC         3941 non-null   float64
 19  CO_MUNICIPIO_PROVA      20056 non-null  int64
 20  NO_MUNICIPIO_PROVA      20056 non-null  object
 21  CO_UF_PROVA             20056 non-null  int64
 22  SG_UF_PROVA             20056 non-null  object
 23  TP_PRESENCA_CN          20056 non-null  int64
 24  TP_PRESENCA_CH          20056 non-null  int64
 25  TP_PRESENCA_LC          20056 non-null  int64
 26  TP_PRESENCA_MT          20056 non-null  int64
 27  CO_PROVA_CN             15946 non-null  float64
 28  CO_PROVA_CH             16577 non-null  float64
 29  CO_PROVA_LC             16577 non-null  float64
 30  CO_PROVA_MT             15946 non-null  float64
 31  NU_NOTA_CN              15946 non-null  float64
 32  NU_NOTA_CH              16577 non-null  float64
 33  NU_NOTA_LC              16577 non-null  float64
 34  NU_NOTA_MT              15946 non-null  float64
 35  TX_RESPOSTAS_CN         15946 non-null  object
 36  TX_RESPOSTAS_CH         16577 non-null  object
 37  TX_RESPOSTAS_LC         16577 non-null  object
 38  TX_RESPOSTAS_MT         15946 non-null  object
 39  TP_LINGUA               20056 non-null  int64
 40  TX_GABARITO_CN          15946 non-null  object
 41  TX_GABARITO_CH          16576 non-null  object
 42  TX_GABARITO_LC          16576 non-null  object
 43  TX_GABARITO_MT          15945 non-null  object
 44  TP_STATUS_REDACAO       16576 non-null  float64
 45  NU_NOTA_COMP1           16576 non-null  float64
 46  NU_NOTA_COMP2           16576 non-null  float64
 47  NU_NOTA_COMP3           16576 non-null  float64
 48  NU_NOTA_COMP4           16576 non-null  float64
 49  NU_NOTA_COMP5           16576 non-null  float64
 50  NU_NOTA_REDACAO         16576 non-null  float64
dtypes: float64(21), int64(17), object(13)
memory usage: 7.8+ MB

In [ ]:
##Verifica missing
df.isna()
##Verifica missing por coluna
df.isna().sum()

NU_INSCRICAO                  0
NU_ANO                        0
TP_FAIXA_ETARIA               0
TP_SEXO                       0
TP_ESTADO_CIVIL               0
TP_COR_RACA                   0
TP_NACIONALIDADE              0
TP_ST_CONCLUSAO               0
TP_ANO_CONCLUIU               0
TP_ESCOLA                     0
TP_ENSINO                 11267
IN_TREINEIRO                  0
CO_MUNICIPIO_ESC          16115
NO_MUNICIPIO_ESC          16115
CO_UF_ESC                 16115
SG_UF_ESC                 16115
TP_DEPENDENCIA_ADM_ESC    16115
TP_LOCALIZACAO_ESC        16115
TP_SIT_FUNC_ESC           16115
CO_MUNICIPIO_PROVA            0
NO_MUNICIPIO_PROVA            0
CO_UF_PROVA                   0
SG_UF_PROVA                   0
TP_PRESENCA_CN                0
TP_PRESENCA_CH                0
TP_PRESENCA_LC                0
TP_PRESENCA_MT                0
CO_PROVA_CN                4110
CO_PROVA_CH                3479
CO_PROVA_LC                3479
CO_PROVA_MT                4110
NU_NOTA_CN                 4110
NU_NOTA_CH                 3479
NU_NOTA_LC                 3479
NU_NOTA_MT                 4110
TX_RESPOSTAS_CN            4110
TX_RESPOSTAS_CH            3479
TX_RESPOSTAS_LC            3479
TX_RESPOSTAS_MT            4110
TP_LINGUA                     0
TX_GABARITO_CN             4110
TX_GABARITO_CH             3480
TX_GABARITO_LC             3480
TX_GABARITO_MT             4111
TP_STATUS_REDACAO          3480
NU_NOTA_COMP1              3480
NU_NOTA_COMP2              3480
NU_NOTA_COMP3              3480
NU_NOTA_COMP4              3480
NU_NOTA_COMP5              3480
NU_NOTA_REDACAO            3480
dtype: int64

In [ ]:
##Missing em termos porcentuais
((df.isna().sum() / df.shape[0]) * 100).sort_values(ascending = False)

## df.isna().sum() = quantidade de nulos
## df.shape[0] == total de linhas
## do total de linhas, a quantidade de nulos de cada agrupamento é quantos %?

TP_DEPENDENCIA_ADM_ESC    80.350020
SG_UF_ESC                 80.350020
TP_SIT_FUNC_ESC           80.350020
TP_LOCALIZACAO_ESC        80.350020
CO_MUNICIPIO_ESC          80.350020
NO_MUNICIPIO_ESC          80.350020
CO_UF_ESC                 80.350020
TP_ENSINO                 56.177702
TX_GABARITO_MT            20.497607
CO_PROVA_MT               20.492621
CO_PROVA_CN               20.492621
NU_NOTA_MT                20.492621
TX_RESPOSTAS_CN           20.492621
TX_RESPOSTAS_MT           20.492621
TX_GABARITO_CN            20.492621
NU_NOTA_CN                20.492621
TX_GABARITO_CH            17.351416
TX_GABARITO_LC            17.351416
TP_STATUS_REDACAO         17.351416
NU_NOTA_COMP1             17.351416
NU_NOTA_COMP2             17.351416
NU_NOTA_COMP3             17.351416
NU_NOTA_COMP4             17.351416
NU_NOTA_COMP5             17.351416
NU_NOTA_REDACAO           17.351416
NU_NOTA_CH                17.346430
TX_RESPOSTAS_LC           17.346430
TX_RESPOSTAS_CH           17.346430
NU_NOTA_LC                17.346430
CO_PROVA_CH               17.346430
CO_PROVA_LC               17.346430
TP_LINGUA                  0.000000
NU_INSCRICAO               0.000000
TP_PRESENCA_MT             0.000000
NU_ANO                     0.000000
TP_FAIXA_ETARIA            0.000000
TP_SEXO                    0.000000
TP_ESTADO_CIVIL            0.000000
TP_COR_RACA                0.000000
TP_NACIONALIDADE           0.000000
TP_ST_CONCLUSAO            0.000000
TP_ANO_CONCLUIU            0.000000
TP_ESCOLA                  0.000000
IN_TREINEIRO               0.000000
CO_MUNICIPIO_PROVA         0.000000
NO_MUNICIPIO_PROVA         0.000000
CO_UF_PROVA                0.000000
SG_UF_PROVA                0.000000
TP_PRESENCA_CN             0.000000
TP_PRESENCA_CH             0.000000
TP_PRESENCA_LC             0.000000
dtype: float64

In [ ]:
##Sumário estatistico, MEDIA, PRIMEIRO QUARTIL, SEGUNDO QUARTIL, TERCEIRO QUARTIL
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
NU_INSCRICAO,20056.0,2.100527e+11,979792.945812,2.100510e+11,2.100519e+11,2.100528e+11,2.100536e+11,2.100545e+11
NU_ANO,20056.0,2.021000e+03,0.000000,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03
TP_FAIXA_ETARIA,20056.0,4.463303e+00,3.063680,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,2.000000e+01
TP_ESTADO_CIVIL,20056.0,1.015806e+00,0.314686,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_COR_RACA,20056.0,2.321500e+00,0.902667,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
TP_NACIONALIDADE,20056.0,1.032958e+00,0.194055,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_ST_CONCLUSAO,20056.0,1.705126e+00,0.685648,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_ANO_CONCLUIU,20056.0,1.609045e+00,3.262118,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.500000e+01
TP_ESCOLA,20056.0,1.496809e+00,0.577212,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
TP_ENSINO,8789.0,1.012402e+00,0.110677,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
IN_TREINEIRO,20056.0,1.188173e-01,0.323581,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
CO_MUNICIPIO_ESC,3941.0,2.923550e+06,92058.147211,2.311264e+06,2.910800e+06,2.921203e+06,2.927408e+06,5.300108e+06
CO_UF_ESC,3941.0,2.903832e+01,0.919227,2.300000e+01,2.900000e+01,2.900000e+01,2.900000e+01,5.300000e+01
TP_DEPENDENCIA_ADM_ESC,3941.0,2.299416e+00,0.861867,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_LOCALIZACAO_ESC,3941.0,1.037808e+00,0.190755,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_SIT_FUNC_ESC,3941.0,1.031464e+00,0.280544,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
CO_MUNICIPIO_PROVA,20056.0,2.919228e+06,9508.875773,2.900702e+06,2.910800e+06,2.919504e+06,2.927408e+06,2.933604e+06
CO_UF_PROVA,20056.0,2.900000e+01,0.000000,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01
TP_PRESENCA_CN,20056.0,7.958716e-01,0.404062,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_CH,20056.0,8.289290e-01,0.379745,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_LC,20056.0,8.289290e-01,0.379745,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_MT,20056.0,7.958716e-01,0.404062,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
CO_PROVA_CN,15946.0,9.134180e+02,17.016431,9.090000e+02,9.100000e+02,9.110000e+02,9.120000e+02,1.014000e+03
CO_PROVA_CH,16577.0,8.839612e+02,20.096757,8.790000e+02,8.800000e+02,8.810000e+02,8.820000e+02,1.002000e+03
CO_PROVA_LC,16577.0,8.937878e+02,19.097230,8.890000e+02,8.900000e+02,8.910000e+02,8.920000e+02,1.006000e+03
CO_PROVA_MT,15946.0,9.035896e+02,18.002614,8.990000e+02,9.000000e+02,9.010000e+02,9.020000e+02,1.010000e+03
NU_NOTA_CN,15946.0,4.778167e+02,75.094305,0.000000e+00,4.237000e+02,4.665000e+02,5.220000e+02,7.730000e+02
NU_NOTA_CH,16577.0,5.099476e+02,92.271662,0.000000e+00,4.372000e+02,5.072000e+02,5.766000e+02,8.240000e+02
NU_NOTA_LC,16577.0,4.908501e+02,76.453809,0.000000e+00,4.358000e+02,4.915000e+02,5.437000e+02,7.446000e+02
NU_NOTA_MT,15946.0,5.132688e+02,100.505330,0.000000e+00,4.339000e+02,4.902000e+02,5.768000e+02,9.441000e+02
TP_LINGUA,20056.0,4.623055e-01,0.498590,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
TP_STATUS_REDACAO,16576.0,1.093871e+00,0.664640,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
NU_NOTA_COMP1,16576.0,1.205285e+02,31.859581,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP2,16576.0,1.447430e+02,44.159252,0.000000e+00,1.200000e+02,1.200000e+02,1.800000e+02,2.000000e+02
NU_NOTA_COMP3,16576.0,1.192194e+02,34.907763,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP4,16576.0,1.329597e+02,37.637308,0.000000e+00,1.200000e+02,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_COMP5,16576.0,1.223974e+02,57.790554,0.000000e+00,8.000000e+01,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_REDACAO,16576.0,6.398480e+02,182.538430,0.000000e+00,5.400000e+02,6.200000e+02,7.800000e+02,9.800000e+02

In [ ]:
##Quantidade de valores únicos por coluna
df.nunique().sort_values(ascending = True)

NU_ANO                        1
SG_UF_PROVA                   1
CO_UF_PROVA                   1
TP_LINGUA                     2
TP_SEXO                       2
TP_LOCALIZACAO_ESC            2
IN_TREINEIRO                  2
TP_ENSINO                     2
TP_PRESENCA_MT                3
TP_PRESENCA_CH                3
TP_PRESENCA_CN                3
TP_PRESENCA_LC                3
TP_ESCOLA                     3
TP_SIT_FUNC_ESC               4
TP_ST_CONCLUSAO               4
TP_DEPENDENCIA_ADM_ESC        4
TP_NACIONALIDADE              5
TP_ESTADO_CIVIL               5
TX_GABARITO_CH                6
TP_COR_RACA                   6
TX_GABARITO_LC                8
TX_GABARITO_MT                8
TP_STATUS_REDACAO             8
TX_GABARITO_CN                9
NU_NOTA_COMP4                10
NU_NOTA_COMP1                10
NU_NOTA_COMP2                10
NU_NOTA_COMP5                11
NU_NOTA_COMP3                11
CO_PROVA_CH                  12
CO_PROVA_LC                  12
CO_UF_ESC                    13
SG_UF_ESC                    13
CO_PROVA_MT                  14
CO_PROVA_CN                  14
TP_ANO_CONCLUIU              16
TP_FAIXA_ETARIA              20
NU_NOTA_REDACAO              43
NO_MUNICIPIO_PROVA          162
CO_MUNICIPIO_PROVA          162
NO_MUNICIPIO_ESC            327
CO_MUNICIPIO_ESC            328
NU_NOTA_CN                 3198
NU_NOTA_LC                 3356
NU_NOTA_CH                 3743
NU_NOTA_MT                 3858
TX_RESPOSTAS_MT           15944
TX_RESPOSTAS_CN           15945
TX_RESPOSTAS_CH           16562
TX_RESPOSTAS_LC           16571
NU_INSCRICAO              20056
dtype: int64

*COMO SELECIONAR COLUNAS*

In [ ]:
df.TP_ESCOLA

0        2
1        2
2        2
3        1
4        1
        ..
11117    2
11118    2
11119    2
11120    1
11121    2
Name: TP_ESCOLA, Length: 11122, dtype: int64

In [ ]:
##Quantos de cada tipo da coluna
df.TP_ESCOLA.value_counts()

1    6098
2    4634
3     390
Name: TP_ESCOLA, dtype: int64

In [ ]:
df['TP_ESCOLA']

0        2
1        2
2        2
3        1
4        1
        ..
11117    2
11118    2
11119    2
11120    1
11121    2
Name: TP_ESCOLA, Length: 11122, dtype: int64

In [ ]:
##ILOC (linhas, coluna)
df.loc[:,'TP_SEXO']

0        F
1        F
2        F
3        F
4        M
        ..
11117    M
11118    F
11119    F
11120    F
11121    M
Name: TP_SEXO, Length: 11122, dtype: object

In [ ]:
df.loc[1:5,'TP_SEXO']

1    F
2    F
3    F
4    M
5    M
Name: TP_SEXO, dtype: object

In [ ]:
##Selecionando múltiplas colunas com .loc
df.loc[:,['TP_SEXO','TP_ESCOLA']]

      TP_SEXO  TP_ESCOLA
0           F          2
1           F          2
2           F          2
3           F          1
4           M          1
...       ...        ...
11117       M          2
11118       F          2
11119       F          2
11120       F          1
11121       M          2

[11122 rows x 2 columns]

In [ ]:
##Iloc é com index da coluna
df.iloc[:,1]

0        2021
1        2021
2        2021
3        2021
4        2021
         ...
11117    2021
11118    2021
11119    2021
11120    2021
11121    2021
Name: NU_ANO, Length: 11122, dtype: int64

In [10]:
##Pegar pelo tipo
df.select_dtypes(include = object).columns.tolist()

['TP_SEXO',
 'NO_MUNICIPIO_ESC',
 'SG_UF_ESC',
 'NO_MUNICIPIO_PROVA',
 'SG_UF_PROVA',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT']

*FILTROS*

In [11]:
##Tipo mysql
df.query("TP_ESCOLA == 2")

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
5,210053085526,2021,3,M,1,1,1,2,0,2,1.0,0,2932606.0,Urandi,29.0,BA,2.0,1.0,1.0,2932606,Urandi,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,414.6,410.1,386.7,423.0,CBCAEDDBBCBABADAABECACCEBDEABCCAECEECCDBCBDCB,BACDABADEBACEDCACDADBCBDBDBECADBEDAEBDCAEBDCA,BAEAB99999CACBABEBADECADCEDCBCADABDEDBDCABCACB...,EACDCADDDCDBADABACEDEDCECBDCCBEAACEADEAECCCEC,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,180.0,140.0,160.0,100.0,700.0
7,210053790986,2021,1,M,1,1,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2907202,Casa Nova,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,590.9,659.7,593.6,586.8,BADCBEEBECDDEABAEDEBCDCCDABBBEBBDDACCCADBEACE,EBBBEADACABBBADEECBAAEDDBBADCDADBCADDEBBCCEAB,ACBAB99999DCEADCADACBDEAEDDABDADCBBBDABCDDDECB...,DDEBEEEDDDCAEEBACBEAADDDCCEDEEBABEECEBEEBCAAC,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,160.0,180.0,160.0,200.0,200.0,900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4474,210053324216,2021,4,F,1,3,1,2,0,2,1.0,0,2933307.0,Vitória da Conquista,29.0,BA,2.0,1.0,1.0,2933307,Vitória da Conquista,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,434.3,388.5,438.9,595.5,ACCACDBDEBDEBCDACBCBEDCDABECBBADCEAACEDBBCADB,EEEABCBEDACEBBCAADDCBEEDABDCBEADCBACCEEBBAAEC,BEDBB99999BCDABAECBADECCDDAEEBCEAECAEDBAADDABE...,DDEBDCCCEDADABAECCBCECADBCEDAECCDABDEAECADBEC,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,200.0,160.0,120.0,120.0,720.0
4479,210053307679,2021,3,F,1,4,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906808,Cansanção,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,418.7,522.9,483.2,433.2,BDADADBEBBCACBABECADADCEDCBBEACEEDBCEDCADEEDD,BBACDDDBCECD*DEABAAEBDACCBAAAAEADCAADDADAAEBC,BDDBA99999ABADEDDEEDDEBBCEDCEEDCACCCADBBAACADE...,DECDCBCBCBCDBECDCCEBBABCAAACEDEBDDAABDDDAACBE,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,80.0,160.0,80.0,120.0,80.0,520.0
4481,210051570593,2021,2,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906204,Canarana,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,411.4,443.8,423.9,607.0,CDBBABCCCACEBCBCCCBCACBCDABBACBBACBBECADACBCC,BAADCDECBDAABCBBACDCAECAAEDABDAABEDACDBADCABC,BEBAD99999BAAEADDAAABAECCDAADAEEDCDDCBEADADCAA...,ACCBBABCAECCCACBDACCDBEDEBBBABDACDDBBDBCBDCBA,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,120.0,160.0,160.0,680.0
4483,210053021680,2021,2,F,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,401.1,460.2,462.2,395.3,ECCDCCDBDDCBBACECCABEEACCCDACCBDADDDEDBBEBCCA,CAECAABDBDDADCDDADDECCCAACABBBAABAABACEBAADEC,CAACD99999CEBADDDECBCBDACDDDEBDADBEBBDDCBDBADC...,EAAADBCBACEEBCDCCCBDCBAECBDCBDBDBDECBCCCBDCBB,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,80.0,140.0,100.0,560.0
4489,210053311211,2021,3,M,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928000,Santaluz,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,579.5,584.1,477.0,562.4,EEEBABECABCCEDCDCACABEEEEBDDEDDCACBCDCCDCCBAA,BBAECCEBCAEBEAECABEEEBEBADCBDCBBACADBBAECABBD,99999CACEEAEBBEADDCEAABDCADCECABBCEECBEBECCBCA...,DEDECADBCCEAABBACBDCBDABDDEDBBCDCDCCBCEDEDADD,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,200.0,140.0,120.0,180.0,760.0

In [13]:
##Média
df.query("TP_ESCOLA == 2").NU_NOTA_MT.mean()

493.9701119157341

In [15]:
##Colocando funções do numpy
df.query("TP_ESCOLA == 2").NU_NOTA_MT.agg([np.mean,np.median])

mean      493.970112
median    476.000000
Name: NU_NOTA_MT, dtype: float64

In [20]:
##Operadores bitwise
df.query("(TP_ESCOLA == 2) | (TP_ESCOLA == 3)")

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
5,210053085526,2021,3,M,1,1,1,2,0,2,1.0,0,2932606.0,Urandi,29.0,BA,2.0,1.0,1.0,2932606,Urandi,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,414.6,410.1,386.7,423.0,CBCAEDDBBCBABADAABECACCEBDEABCCAECEECCDBCBDCB,BACDABADEBACEDCACDADBCBDBDBECADBEDAEBDCAEBDCA,BAEAB99999CACBABEBADECADCEDCBCADABDEDBDCABCACB...,EACDCADDDCDBADABACEDEDCECBDCCBEAACEADEAECCCEC,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,180.0,140.0,160.0,100.0,700.0
7,210053790986,2021,1,M,1,1,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2907202,Casa Nova,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,590.9,659.7,593.6,586.8,BADCBEEBECDDEABAEDEBCDCCDABBBEBBDDACCCADBEACE,EBBBEADACABBBADEECBAAEDDBBADCDADBCADDEBBCCEAB,ACBAB99999DCEADCADACBDEAEDDABDADCBBBDABCDDDECB...,DDEBEEEDDDCAEEBACBEAADDDCCEDEEBABEECEBEEBCAAC,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,160.0,180.0,160.0,200.0,200.0,900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4479,210053307679,2021,3,F,1,4,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906808,Cansanção,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,418.7,522.9,483.2,433.2,BDADADBEBBCACBABECADADCEDCBBEACEEDBCEDCADEEDD,BBACDDDBCECD*DEABAAEBDACCBAAAAEADCAADDADAAEBC,BDDBA99999ABADEDDEEDDEBBCEDCEEDCACCCADBBAACADE...,DECDCBCBCBCDBECDCCEBBABCAAACEDEBDDAABDDDAACBE,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,80.0,160.0,80.0,120.0,80.0,520.0
4480,210052458119,2021,3,F,1,3,1,2,0,3,1.0,0,2922003.0,Mucuri,29.0,BA,4.0,1.0,1.0,2923001,Nova Viçosa,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,497.6,549.1,515.7,638.4,CCCECDBDABCCCCABCCBBCCAABDDBCCACACACADCCCECBB,CBADCBDBBBABEACDEAAEAEADBCCBCEBDCEEEDADDECEDC,DDEDA99999BDCAEDBBBCCBCADBABACEAEEDBDCBACAADDD...,AAACAEBDACDCDCDCCCDECBEBDCDBCBDCEDBAADBCECBDB,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,160.0,200.0,160.0,160.0,180.0,860.0
4481,210051570593,2021,2,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906204,Canarana,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,411.4,443.8,423.9,607.0,CDBBABCCCACEBCBCCCBCACBCDABBACBBACBBECADACBCC,BAADCDECBDAABCBBACDCAECAAEDABDAABEDACDBADCABC,BEBAD99999BAAEADDAAABAECCDAADAEEDCDDCBEADADCAA...,ACCBBABCAECCCACBDACCDBEDEBBBABDACDDBBDBCBDCBA,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,120.0,160.0,160.0,680.0
4483,210053021680,2021,2,F,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,401.1,460.2,462.2,395.3,ECCDCCDBDDCBBACECCABEEACCCDACCBDADDDEDBBEBCCA,CAECAABDBDDADCDDADDECCCAACABBBAABAABACEBAADEC,CAACD99999CEBADDDECBCBDACDDDEBDADBEBBDDCBDBADC...,EAAADBCBACEEBCDCCCBDCBAECBDCBDBDBDECBCCCBDCBB,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,80.0,140.0,100.0,560.0
4489,210053311211,2021,3,M,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928000,Santaluz,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,579.5,584.1,477.0,562.4,EEEBABECABCCEDCDCACABEEEEBDDEDDCACBCDCCDCCBAA,BBAECCEBCAEBEAECABEEEBEBADCBDCBBACADBBAECABBD,99999CACEEAEBBEADDCEAABDCADCECABBCEECBEBECCBCA...,DEDECADBCCEAABBACBDCBDABDDEDBBCDCDCCBCEDEDADD,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,200.0,140.0,120.0,180.0,760.0

In [22]:
df.query("(TP_ESCOLA == 2) & (TP_SEXO == 'M')")

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
5,210053085526,2021,3,M,1,1,1,2,0,2,1.0,0,2932606.0,Urandi,29.0,BA,2.0,1.0,1.0,2932606,Urandi,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,414.6,410.1,386.7,423.0,CBCAEDDBBCBABADAABECACCEBDEABCCAECEECCDBCBDCB,BACDABADEBACEDCACDADBCBDBDBECADBEDAEBDCAEBDCA,BAEAB99999CACBABEBADECADCEDCBCADABDEDBDCABCACB...,EACDCADDDCDBADABACEDEDCECBDCCBEAACEADEAECCCEC,0.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,180.0,140.0,160.0,100.0,700.0
7,210053790986,2021,1,M,1,1,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2907202,Casa Nova,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,590.9,659.7,593.6,586.8,BADCBEEBECDDEABAEDEBCDCCDABBBEBBDDACCCADBEACE,EBBBEADACABBBADEECBAAEDDBBADCDADBCADDEBBCCEAB,ACBAB99999DCEADCADACBDEAEDDABDADCBBBDABCDDDECB...,DDEBEEEDDDCAEEBACBEAADDDCCEDEEBABEECEBEEBCAAC,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,160.0,180.0,160.0,200.0,200.0,900.0
10,210052237624,2021,5,M,1,2,1,2,0,2,1.0,0,2910503.0,Entre Rios,29.0,BA,2.0,1.0,1.0,2910503,Entre Rios,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,594.4,572.8,536.6,469.6,DCADABEEABDAEDABADCABEACABDAEBECBBBDCCCDBCBCD,BEECCABABABBEAEACBADCAEBEDAABAEAEADCCCAAEEBAA,ABBAB99999ADDBAABABCBBBACADAEDBBCCEEEBEAACCDBE...,DABEACCEACAACBBABBBACCAACBBAAECBBCBEBCCCBABBD,0.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,100.0,100.0,80.0,80.0,80.0,440.0
13,210052055613,2021,3,M,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2933208,Vera Cruz,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,566.5,651.0,584.4,479.3,BADBACEDDDBAABDCCAACBEEDBBBDEBCCBCDDCEABBAEDA,BCECCAEABADBAAEABAEEBBEBABADBCBBABDCBBCECCABA,ABBAC99999BDBBDEDCCDDBBDCBDBACDCDCBDEBEAADABAE...,DEDBEEDECAECBBBCACBBCBEEBBABAACBBBAABDAECBCCB,0.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,140.0,200.0,140.0,160.0,200.0,840.0
15,210052929031,2021,3,M,1,2,1,2,0,2,1.0,0,2931350.0,Teixeira de Freitas,29.0,BA,2.0,1.0,1.0,2931350,Teixeira de Freitas,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,445.9,425.8,458.5,513.7,CBCDBAAEEABADEBCEACCBEDCCDDEDCAECDABCDADEBDBC,ABADCBBECCBBBACDCEBABCDBAAEDACBABEDBDDBCBCCDE,ABBBE99999DCEDABCCCCBAEAEDBAADBADEBBCDBCDBBBBA...,DAACBDBBECECBACBEBADCBEDACBDCDACBBCDAEBDAECAD,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,120.0,560.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,210054215565,2021,2,M,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2931350,Teixeira de Freitas,29,BA,0,1,1,0,NaN,881.0,892.0,NaN,NaN,560.7,554.4,NaN,NaN,BCECCAAADCEBEADBACAADBEBBCBAACAAABADABAEAAADB,AACDA99999CDBDCAAEDCCCBACDADDDBBBEDDCDEBAEEDAE...,NaN,0.0,NaN,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,NaN,1.0,100.0,120.0,120.0,140.0,100.0,580.0
4459,210052789183,2021,3,M,1,3,1,2,0,2,1.0,0,2927002.0,Rio Real,29.0,BA,2.0,1.0,1.0,2927002,Rio Real,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,561.2,506.7,477.2,466.3,AABBEAEBECDEBADBDBCDCDEDBACAECDCABAECDADCBECD,DCDBAAECBACBBABAACABBAECBBAEADBBDCABBABABCCEA,AEDCA99999AEEADCDAABDBEAEACBEAABBACADABACDEBCB...,ACABEAECDEACDBECADDBECBBEBCDEECEDEABBCEACCBEC,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,100.0,120.0,100.0,120.0,0.0,440.0
4466,210053299085,2021,3,M,0,4,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906808,Cansanção,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,543.8,619.2,553.3,488.7,BAAECBEAABACECCBBBACAEECADEAEBBCDCDCCEACBABDA,BDECCAECAAEBEAEBBAABDDEBBBAABCEBCAEDBBBDCAEBE,BADEC99999CDBCCAACDBDABDCDADDBBBBDEDEDEAACDBAE...,DBAEEBDDCEBACEDABCBEAACBEABACADBEADBDAACBECDA,0.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,120.0,120.0,80.0,520.0
4467,210051144025,2021,3,M,1,3,1,2,0,2,1.0,0,2903409.0,Belmonte,29.0,BA,2.0,1.0,1.0,2910727,Eunápolis,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,419.6,447.5,385.9,395.0,CDDBADECBCEBCEBCDCECDAACBEDCADBCEACDBECDABEDC,CBCEABCDDACBDCABCDBCAEDBCACDAECBBEDCBCEBCEBCA,DABBC99999EDABDDCEABCBACCEAB.CABDCECABCEDCBECD...,BEABDEDBEDABDCBADBDACA*CECBDECBCAEDBACEBAECBE,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,120.0,120.0,100.0,580.0
4489,210053311211,2021,3,M,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928000,Santaluz,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,579.5,584.1,477.0,562.4,EEEBABECABCCEDCDCACABEEEEBDDEDDCACBCDCCDCCBAA,BBAECCEBCAEBEAECABEEEBEBADCBDCBBACADBBAECABBD,99999CACEEAEBBEADDCEAABDCADCECABBCEECBEBECCBCA...,DEDECADBCCEAABBACBDCBDABDDEDBBCDCDCCBCEDEDADD,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,200.0,140.0,120.0,180.0,760.0

In [23]:
##Teste logico
df.TP_SEXO == "M"

0       False
1       False
2       False
3       False
4        True
        ...
4487    False
4488    False
4489     True
4490    False
4491    False
Name: TP_SEXO, Length: 4492, dtype: bool